<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>
   <script src="https://unpkg.com/vue@2"></script>
   <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
  <style>
      body { font-family: Arial;}
      #map { height: 80vh; }
  </style>
</head>
<body>
  <h1>KZ-Außenlager Görlitz und Rennersdorf</h1>
  <div class="container mt-3 mt-sm-5" id="app">
    <div class="row">
      <div class="col-md-9">
        <div class="map" id="map"></div>
      </div>
      <div class="col-md-3">
        <div
          class="form-check"
          v-for="layer in layers"
          :key="layer.id"
        >
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              v-model="layer.active"
              @change="layerChanged(layer.id, layer.active)"
            />
            {{ layer.name }} {{layer.id}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>
